.dashboard-top {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* espaçamento entre painéis */
  margin-top: 40px; /* distância da seção de clocks */
  margin-left: 70px; /* aumenta a margem esquerda do bloco */
  flex-wrap: nowrap;
}

.dashboard-panel {
  flex: 25 0 320px; /* largura fixa dos painéis */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Painel esquerdo contém MarketForce + FearIndex empilhados */
.left-panel {
  min-height: 215px; /* ajusta para ocupar a mesma altura do central */
  margin-right: 15px; /* aumenta o espaço para o painel central */
}

/* Painel central Volatilidade */
.center-panel {
  min-height: 215px;
}

/* Painel direito Top Assets */
.right-panel {
  min-height: 215px;
}
